<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="form.controls.email.invalid">A valid email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="form.controls.username.hasError('required')">Username is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="form.controls.password.hasError('minlength')">
      Password must be at least 8 characters long
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create account</button>
</form>
